/* Light Theme */
.light-theme {
  --bg-color: #fcfcfd;
  --bg-color-inversed: #0d1017;
  --text-color: black;
  --text-color-inv: white;
  --card-bg-color: #ffffff;
  --primary-color: #5db9ee;
  --btn-color: pink;
}

/* Dark Theme */
.dark-theme {
  --bg-color: #0d1017;
  --bg-color-inversed: #fcfcfd;
  --text-color: white;
  --text-color-inv: black;
  --card-bg-color: #1e1e1e;
  --primary-color: #5c0bbe;
  --btn-color: pink;
}

/* General styles */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.custom-card {
  background-color: var(--card-bg-color) !important;
}

.custom-text {
  color: var(--primary-color) !important;
}

/* Add any other custom styles below */
.flex-grow-1 {
  flex-grow: 1;
}

.vh-100 {
  height: 100vh;
}

.py-5 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.mt-4 {
  margin-top: 1.5rem;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.fw-normal {
  font-weight: 400;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.p-4 {
  padding: 1.5rem;
}

.text-black {
  color: #000 !important;
}

.text-center {
  text-align: center !important;
}

.w-100 {
  width: 100% !important;
}

.p-5 {
  padding: 3rem !important;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.d-flex {
  display: flex !important;
}

.justify-content-center {
  justify-content: center !important;
}

.align-items-center {
  align-items: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

/* Navbar settings */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.css */
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOutLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

#navbar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 25%;
  animation: slideInLeft 0.5s forwards;
}

#navbar.show {
  display: block;
}

#navbar.fade {
  animation: slideOutLeft 0.5s forwards;
}

/* Animation pour la fermeture */
#navbar.fade-out {
  animation: slideOutRight 0.5s forwards;
}

.custom-modal {
  width: 60% !important; /* Ajustez la largeur selon vos besoins */
}

/* Fin Navbar */


/* Custom styles for MDB components */
/* MDBCard */

.bg-theme {
  background-color: var(--bg-color) !important;
  color: var(--text-color-inv) !important;
}

.bg-theme-inv {
  background-color: var(--bg-color-inversed) !important;
  color: var(--text-color-inv) !important;
}

.nav-text{
  color: var(--text-color) !important;
}

.nav-text-inv{
  color: var(--text-color-inv) !important;
}

/* MDBContainer */
.mdb-container {
  /* Add your styles for MDBContainer here */
}

/* MDBBtn */
.mdb-btn {
  background-color: var(--btn-color) !important;
}

/* MDBInput */
.mdb-input {
  /* Add your styles for MDBInput here */
}

/* MDBCardText */
.mdb-card-text {
  /* Add your styles for MDBCardText here */
}
